@import "style/variables.scss";

.loader {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .svg {
    fill: none;
    stroke-width: 5px;
    stroke: $culturedPearl-color;

    &.bg {
      stroke: rgb(207, 205, 245);
    }

    &.animate {
      animation: fill-animation 1s cubic-bezier(1, 1, 1, 1) 0s infinite;
    }
  }

  .text {
    margin: 20px 0 0 20px;
  }
}

@keyframes fill-animation {
  0% {
    stroke-dasharray: 40 242.6;
  }
  50% {
    stroke-dasharray: 141.3;
  }
  100% {
    stroke-dasharray: 40 242.6;
    stroke-dashoffset: 282.6;
  }
}
