@import "../../style/variables.scss";

.pizzaCard {
  width: 280px;
  text-align: center;
  margin-bottom: 65px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.03);
  }

  &__wrapper {
    display: flex;
    justify-content: center;
  }

  &__image {
    width: 260px;
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
  }
}
