@import "style/variables.scss";

.returnComponent {
  margin: 30px auto;
  width: 600px;
  height: 460px;
  text-align: center;

  h2 {
    font-size: 36px;
    margin-bottom: 15px;
  }

  p {
    font-size: 20px;
    color: $sonicSilver-color;
  }

  img {
    display: block;
    width: 300px;
    margin: 45px auto 60px;
  }

  .returnButton {
    padding: 12px 25px;
    font-size: 16px;
    background-color: $orange-color;
    color: $white-color;
    border-radius: 20px;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
  }
}
