$white-color: #fff;
$eerieBlack-color: #232323;
$salomie-color: #ffdf8c;
$culturedPearl-color: #f6f6f6;
$orange-color: #fe5f1e;
$boulder-color: #7b7b7b;
$alabaster-color: #f9f9f9;
$mineShaft-color: #282828;
$concrete-color: #f3f3f3;
$sonicSilver-color: #777777;
$nobel-color: #b6b6b6;
$alto-color: #dddddd;
$gray-color: #8d8d8d;
$boulder-color: #787878;
