$white-color: #fff;
$eerieBlack-color: #232323;
$salomie-color: #ffdf8c;
$culturedPearl-color: #f6f6f6;
$orange-color: #fe5f1e;
$boulder-color: #7b7b7b;
$alabaster-color: #f9f9f9;
$mineShaft-color: #282828;
